body {
    background-color: black;
    font-family: sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}


.main {
    background-image: url(assets/images/ph.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    justify-content: center;
    height: 80vh;
    width: 100%;
    display: flex;
    position: relative;

}

.box {
    position: absolute;
    height: 80vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    max-width: 60vw;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    /* background-color: antiquewhite; */
    position: absolute;
    z-index: 10;
}

nav button {
    position: relative;
    color: white;
    background: transparent;
    font-weight: 600;
    height: 32px;
    padding: 0px 20px;
    margin: 0px 5px;
    font-size: 15px;
    /* border: 0.1px solid white; */
    border: 0.1px solid rgba(255, 255, 255, 0.6);

}

nav button svg {
    padding: 0px 7px 0px 0px;
}

.hero {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.hero span {
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    padding-top: 100px;
}

.hero div {
    color: white;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 20px;
}

.hero p {
    color: white;
    font-size: 16px;
    font-weight: 400;
}


.btn {
    padding: 0px 16px;
    background-color: white;
    font-weight: 500;
    background-color: rgba(23, 23, 23, 0.3);
    z-index: 10;
    border-radius: 4px;

}

.btn-red-sm {
    background-color: red;
    color: white;
    border-radius: 4px;
    font-weight: 400;
    border: none;
}

.btn-red {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 3px 24px;
    border-radius: 4px;
    cursor: pointer;
    border: none;

}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}


.hero input {
    font-size: 12px;
    padding: 8px 80px 6px 14px;
    border-radius: 4px;
    background-color: rgba(26, 20, 20, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.774);
    color: white;
    border-radius: 4px;
}


.separation {
    width: 100%;
    height: 7px;
    background-color: rgb(76, 72, 72);
}


.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;

}

/* .first {
    position: relative;
    display: flex;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;

} */

.text {
    padding: 20px
}

.text h1 {
    color: white;
    font-size: 48px;
    padding: 13px 0px;

}

.text p {
    color: white;
    font-size: 24px;
}

.image {
    position: relative;
}

.image img {
    width: 360px;
    z-index: 10;
    position: relative;
    height: 320px;
    padding: 21px 0px;
}

.image video {
    width: 309px;
    position: absolute;
    top: 89px;
    right: 51px;
    z-index: 6;
}

.faq {
    background-color: black;
    color: white;
    padding: 44px;
    max-width: 70vw;
    margin: auto;
}

.faq h2 {
    padding: 0px 0px 20px 0px;
    font-size: 48px;

}

.faqbox:hover {
    background-color: #414141;
    /* transition: 0.4s; */
}

.faqbox {
    display: flex;
    height: 44px;
    width: 100%;
    max-width: 70vw;
    margin: 7px auto;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    padding: 20px;
    font-size: 21px;
    cursor: pointer;
    transition: all 1s ease-out;
}

footer {
    max-width: 75vw;
    margin: auto;
    color: white;
}

footer .top {
    padding: 33px 0px;
}

.footers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 75vw;
}

@media screen and (max-width: 1124px) {

    .first {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1124px) {

    nav {
        max-width: 100vw;
    }

    .footers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 33px;
    }

    .image img {
        width: 275px;
    }

    .image video {
        width: 232px;
        top: 109px;
        left: 29px;
        z-index: 9;

    }

    .hero span {
        font-size: 32px;
    }

    .hero div {
        font-size: 18px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        gap: 15px;
    }


    .faq h2 {
        padding: 0px 0px 20px 0px;
        font-size: 27px;

    }

    .footer-links {
        align-items: center;
    }

    .text h1 {
        font-size: 28px;

    }

    .text p {
        font-size: 15px;
    }

}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.footer-links a {
    color: white;

}

.footer-social {
    padding: 20px 0px;
}

.downholder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
    margin: auto;
}

.downholder div {
    text-align: center;
}

.downholder p {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.downholder input {
    font-size: 12px;
    padding: 8px 80px 6px 14px;
    border-radius: 4px;
    background-color: rgba(26, 20, 20, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.774);
    color: white;
}

.downbutton {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 3px 24px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    margin: 10px;
}